
/** Importacion de fuentes **/
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Montserrat:ital,wght@0,200;0,300;1,300&display=swap');


/** Estilos por defecto **/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-toggler {
  display: flex;
}

.navbar {
  z-index: 1000;
}

.tituloBanner h1, p {
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5), 0 0 3px rgba(0, 0, 0, 0.5);

}

.tituloBanner h1 {
  margin-top: 15rem;
  backdrop-filter: blur(10px);

}

.accesos p {
  text-align: center;
  margin-top: 0.2rem;
  font-size: 2rem;
}

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.image-wrapper img {
  height: 19rem; /* adjust to your preferred height */
  width: 26rem;
  margin-top: 1rem;
}

/** Body general **/

body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to top, #8e18cd, #9112bf, #920db1, #920ba4, #900c97, #8f0d94, #8f0e90, #8e0f8d, #900f92, #910e97, #930f9c, #940fa1);
  color: white;
  z-index: 100;
}

/** Clases de los distintos headers de las distintas paginas **/

.headerIndex {
  height: 100vh;
  background-image: url(../assets/img/banner1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.headerServicios {
  height: 70vh;
  background-image: url(../assets/img/bannerServicios.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.headerNosotros {
  height: 70vh;
  background-image: url(../assets/img/inicioNosotros.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.headerGaleria {
  height: 70vh;
  background-image: url(../assets/img/bannerGaleria.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.headerContacto {
  height: 70vh;
  background-image: url(../assets/img/julian-hochgesang-Dkn8-zPIbwo-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/** Clases de navbar y logo **/

.contenedorLogo {
  width: 40%;
  display: inline-block;
  padding-top: 5px;
}

.logo {
  width: 20%;
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.navegacion {
  display: inline-block;
  font-weight: 700;
  width: 50%;
  text-align: center;
  backdrop-filter: blur(10px);
  margin-left: 5vw;
}

.listaItem {
  list-style: none;
  display: inline-block;
  padding-left: 15px;
  padding-top: 25px;
}

.linkNav {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

/** Se hacen 2 clases contenedoras de header, una para el Index y otra para el resto de las paginas
ya que van a tener un diferente VH **/


.contenedorTituloHeader {
  width: 65%;
  height: 25vh;
  margin:0 auto;
  text-align: center;
  margin-top: 30vh;
  backdrop-filter: blur(5px);
}

.contenedorTituloHeaderPages {
  width: 35%;
  height: 20vh;
  margin:0 auto;
  text-align: center;
  margin-top: 20vh;
  backdrop-filter: blur(5px);
}

.contenedorTituloHeader h1 {
  font-size: 4rem;
}

.contenedorTituloHeader p {
  font-size: 2rem;
}

.contenedorTituloHeaderPages h1 {
  font-size: 6rem;
  width: 50%;
  height: 50%;
}

/** Clases para pagina "Servicios" **/


.seccionServicios {
  text-align: center;
}

.seccionServicios h2 {
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 10px;
  margin-bottom: 15px;
}

/** Estas clases se usan para las paginas "Servicios" y "Galeria" **/


.contenedorCards {
  width: 30%;
  display: inline-block;
  object-fit: contain;
}

.contenedorCards img {
  width: 90%;
  margin: 5px 5px;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contenedorCards p {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 5px;
}

/** Clases para la pagina "Nosotros" **/

.seccionNosotros {
  display: inline-block;
  height: 65vh;
  text-align: center;
  margin-bottom: 15rem;
}

.seccionNosotros h2 {
  text-align: center;
  margin: 1rem 1rem 1rem 1rem;
  font-size: 4rem;
}

.seccionNosotros p {
  width: 50%;
  display: inline-block;
  text-align: left;
  font-weight: 450;
}

.imagenNosotros {
  width: 40%;
  background-size: cover;
  margin: 0 3.5rem 22rem 0;
  display: inline-block;
}

/** Clases para pagina "Galeria" **/

.seccionImagenes {
  display: inline-block;
  height: 75vh;
  width: 100%;
  text-align: center;
  margin-bottom: 15rem;
}

.contenedorVideo {
  width: 30%;
  height: 25vh;
  display: inline-block;
  margin-right: 2rem;
  margin-left: 2rem;
}

.galeriaVideo {
  width: 100%;
  height: 30vh;
  display: inline-block;
}


/** Clases para pagina "Contacto" **/

.formularioContacto {
  display: block;
  text-align: center;
  margin: 2rem;
}

.formularioContacto input {
  margin: 0.2rem;
}

.seccionContacto h1 {
  text-align: center;
  margin-top: 1.5rem;
}

.seccionContacto h2 {
  text-align: center;
}


footer {
  background-color: #530853;
  margin-bottom: 0;
  margin-top: 1rem;
  padding-top: 1rem;
}


.mapsFooter {
  width: 100%;
  height: 10rem;
}

.elementsFooter a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.elementsFooter h3 {
  text-align: center;
  margin-bottom: 1.2rem;
  text-decoration: underline;
}

.listaRedes {
  text-align: center;
}
.elementsFooter img {
  margin-right: 0.5rem;
}

.redes {
  text-align: center;
}
