
/** Importacion de fuentes **/
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Montserrat:ital,wght@0,200;0,300;1,300&display=swap');


/** Estilos por defecto **/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-toggler {
  display: flex;
}

.navbar {
  background: #ad5389;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.tituloBanner h1, p {
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5), 0 0 3px rgba(0, 0, 0, 0.5);

}

.tituloBanner h1 {
  margin-top: 15rem;
  backdrop-filter: blur(10px);

}


.accesos p {
  text-align: center;
  margin-top: 0.2rem;
  font-size: 2rem;
}

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.image-wrapper img {
  height: 18rem;
  width: 26rem;
  margin-top: 1rem;
}

.contenedorTituloHeaderPages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedorTituloHeaderPages h1 {
  margin-top: 10rem;
  backdrop-filter: blur(10px);
  font-size: 4rem;
}

/** Body general **/

body {
  font-family: 'Montserrat', sans-serif;
  background: #FF0099;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  z-index: 100;
}

/** Clases de los distintos headers de las distintas paginas **/

.headerIndex {
  height: 100vh;
  background-image: url(../assets/img/banner1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.headerServicios {
  height: 70vh;
  background-image: url(../assets/img/bannerServicios.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.headerNosotros {
  height: 70vh;
  background-image: url(../assets/img/inicioNosotros.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.headerGaleria {
  height: 70vh;
  background-image: url(../assets/img/bannerGaleria.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.headerContacto {
  height: 70vh;
  background-image: url(../assets/img/julian-hochgesang-Dkn8-zPIbwo-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/** Clases para pagina "Servicios" **/


.seccionServicios {
  text-align: center;
}

.seccionServicios h2 {
  font-size: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 10px;
  margin-bottom: 15px;
}

/** Estas clases se usan para las paginas "Servicios" y "Galeria" **/



.contenedorCards img {
  height: 40vh;
}

.contenedorCards p {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 5px;
}

@media only screen and (max-width: 480px) {


  
  .seccionServicios img {
    width: 60%;
    height: 40%;
    padding: 0;
  }

  .col-md-6 {
    margin-right: 10rem;
  }

  .col-md-4 {
    margin-right: 10rem;
  }
}

/** Clases para la pagina "Nosotros" **/

.seccionNosotros {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex: 0.5;
}


.seccionNosotros h2 {
  text-align: center;
  margin: 1rem 1rem 1rem 1rem;
  font-size: 4rem;
}


.containerNosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}


.imagenNosotros {
  flex: 0.5;
  width: 40%;
  margin-right: 20px;
}


.seccionNosotros p {
  flex: 0.5;
  width: 40%;
}

@media only screen and (max-width: 480px) {

  .containerNosotros {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .seccionNosotros p {
    width: 80%;
  }

  .imagenNosotros {
    width: 80%;
    margin-bottom: 2rem;
  }
}


/** Clases para pagina "Galeria" **/

.carouselContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.carousel {
  width: 50%;

}

.carousel iframe {
  width: 30rem;
  height: 30rem;
  margin-right: 30rem;
}


.seccionImagenes {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.contenedorVideo {
  width: 30%;
  height: 25vh;
  display: inline-block;
  margin-right: 2rem;
  margin-left: 2rem;
}

.galeriaVideo {
  width: 100%;
  height: 30vh;
  display: inline-block;
}


/** Clases para pagina "Contacto" **/

.seccionContacto h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.formContacto {
  display: flex;
  justify-content: center;
}

.camposForm {
  width: 60%;
}

.botonContacto {
  text-align: center;
}

.formContacto h2 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.seccionContacto h1 {
  text-align: center;
  margin-top: 1.5rem;
}



footer {
  background: #ad5389;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  margin-bottom: 0;
  margin-top: 1rem;
  padding-top: 1rem;
}

.elementsFooter a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.elementsFooter h3 {
  text-align: center;
  margin-bottom: 1.2rem;
  text-decoration: underline;
}

.listaRedes {
  text-align: center;
}
.elementsFooter img {
  margin-right: 0.5rem;
}

.redes {
  text-align: center;
}

.listaRedes, .contactoFooter, .mapsFooter {
  margin-top: 2rem;
}

.mapsFooter iframe {
  height: 50%;
  width: 70%;
  margin-left: 3rem;
}