.headerGaleria {
    height: $header-height;
    background-image: url(../assets/img/bannerGaleria.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }