.headerIndex {
    display: flex;
    height: 100vh;
    background-image: url(../assets/img/banner1.jpg);
    @include header(cover,center,no-repeat);
    justify-content: center;
    align-items: center;
  }

  .accesos p {
    text-align: center;
    margin-top: 0.2rem;
    font-size: 2rem;
  }