.headerContacto {
    height: $header-height;
    background-image: url(../assets/img/julian-hochgesang-Dkn8-zPIbwo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }