.navbar-toggler {
    display: flex;
    overflow-x: hidden;
}
  
.navbar {
    background: $gradient-color2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, $gradient-color2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, $gradient-color2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
    img {
        width: 60px;
        height: 60px;
    }

    @media only screen and (max-width: 480px) {
        .navbar {
          overflow-x: hidden;
        }
      }
}
  
.nav-link {
 color: $text-color;
 overflow-x: hidden;
}

.navbar-collapse {
    overflow-x: hidden;
}

.navbar-bar {
    overflow-x: hidden;
}